@import url("reset.css");
*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
img{
    display: block;
}
html,body{
    width: 100%;
    height: 100%;
}
/*
    keyframes css...
*/
/*--------------------------------------------------------------*/
#app{
	width:340px;
	height:340px;
	margin:200px auto 0 auto;
	border:2px solid #EEE;
	box-shadow:0px 3px 10px #999;
    
    /*
        animation css...
    */
}
#app > img{
  width: 100%;
  height: 100%;
}
/*--------------------------------------------------------------*/

