@import url("reset.css");
header{
    
}
nav{
    
}
nav > a{
    
}
aside{
    
}
article{
    
}
footer{
    
}

@media screen and (min-width:415px) and (max-width: 1024px) {
    
}
@media screen and (max-width:414px) {
    
}